.navbar-custom {
    background-color: #E2B1B1;
    color: #748CAB;
}

#carousel {

    width: 70%;
}

#catPic {
    width: 100%;
    height: 40em;
    object-fit: cover;
    overflow: hidden;
}

#carousel li {
    background-color: coral;
}